.history
.idea
.idea_modules
*.iml
*.orig
tmp
/bin
/.cache
/.classpath
/.ensime_lucene/
/logs
/out
/.project
/RUNNING_PID
/.settings
/.target
node_modules
.tmp
.sass-cache
target
.target
activator*.sbt
